<div id="hero-unit">
    <img id="hero-image" src="../../assets/images/dairy_287413478.jpg">
    <div id="hero-content">
        <h2>
            Fresh Dairy Products, Round the Clock, At Your Doorstep !!
        </h2>
        <div id="categories">
            <mat-card [routerLink]= "['/dairy-products']" [queryParams]={category:category} class="category-card" *ngFor="let category of categories">
                <mat-card-content>
                    <h2>{{category}}</h2>
                </mat-card-content>
                <!-- <img mat-card-image src="../../assets/images/cow_milk_tetra_pack_529383721.jpg" height="130px" alt=""> -->
            </mat-card>
        </div>
        
        <h2>
            To Order, Contact us on +12653429876.
        </h2>
    </div>
</div>

<h1 id="category-info-header">Nutritional Value</h1>

<div id="category-info">
    <div class="category">
        <img src="../../assets/images/cow_milk_1059442148.jpg" width="30%" height="300px">
        <div>
            <h2>Milk</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, architecto sequi quae necessitatibus
                facere sint quas obcaecati enim quibusdam rem atque ab, accusantium eos repellat? Unde necessitatibus at
                libero nobis!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet debitis dicta reiciendis cumque illum
                voluptas deleniti! Distinctio modi aperiam quam magnam officia dolorem, nemo quos rerum error porro
                mollitia vitae.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo vero in quam, impedit ut doloribus rem
                maiores? Minus vero soluta harum tenetur, placeat eligendi? Exercitationem quaerat iste veritatis dicta
                eum.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo vero in quam, impedit ut doloribus rem
                maiores? Minus vero soluta harum tenetur, placeat eligendi? Exercitationem quaerat iste veritatis dicta
                eum.</p>
        </div>
    </div>
    <div class="category">
        <div>
            <h2>Buttermilk</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, architecto sequi quae necessitatibus
                facere sint quas obcaecati enim quibusdam rem atque ab, accusantium eos repellat? Unde necessitatibus at
                libero nobis!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet debitis dicta reiciendis cumque illum
                voluptas deleniti! Distinctio modi aperiam quam magnam officia dolorem, nemo quos rerum error porro
                mollitia vitae.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo vero in quam, impedit ut doloribus rem
                maiores? Minus vero soluta harum tenetur, placeat eligendi? Exercitationem quaerat iste veritatis dicta
                eum.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo vero in quam, impedit ut doloribus rem
                maiores? Minus vero soluta harum tenetur, placeat eligendi? Exercitationem quaerat iste veritatis dicta
                eum.</p>
        </div>
        <img src="../../assets/images/buttermilk_1035426676.jpg" width="30%" height="300px">
    </div>
    <div class="category">
        <img src="../../assets/images/curd_1890391171.jpg" width="30%" height="250px">
        <div>
            <h2>Curd</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, architecto sequi quae necessitatibus
                facere sint quas obcaecati enim quibusdam rem atque ab, accusantium eos repellat? Unde necessitatibus at
                libero nobis!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet debitis dicta reiciendis cumque illum
                voluptas deleniti! Distinctio modi aperiam quam magnam officia dolorem, nemo quos rerum error porro
                mollitia vitae.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo vero in quam, impedit ut doloribus rem
                maiores? Minus vero soluta harum tenetur, placeat eligendi? Exercitationem quaerat iste veritatis dicta
                eum.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo vero in quam, impedit ut doloribus rem
                maiores? Minus vero soluta harum tenetur, placeat eligendi? Exercitationem quaerat iste veritatis dicta
                eum.</p>
        </div>
    </div>
    <div class="category">
        <div>
            <h2>Paneer</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, architecto sequi quae necessitatibus
                facere sint quas obcaecati enim quibusdam rem atque ab, accusantium eos repellat? Unde necessitatibus at
                libero nobis!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet debitis dicta reiciendis cumque illum
                voluptas deleniti! Distinctio modi aperiam quam magnam officia dolorem, nemo quos rerum error porro
                mollitia vitae.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo vero in quam, impedit ut doloribus rem
                maiores? Minus vero soluta harum tenetur, placeat eligendi? Exercitationem quaerat iste veritatis dicta
                eum.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo vero in quam, impedit ut doloribus rem
                maiores? Minus vero soluta harum tenetur, placeat eligendi? Exercitationem quaerat iste veritatis dicta
                eum.</p>
        </div>
        <img src="../../assets/images/paneer_516479764.jpg" width="30%" height="300px">
    </div>
</div>